*{
    margin: 0;
    padding: 0;
}


body {
    background-color: #74b9ff;
    font-family: Arial, Helvetica, sans-serif;
    height: 50vw;
    width: 100vw;
}

.nav{
    display: flex;
    background-color: #636e72;
    width: 100vw;
    height: 3em;
    justify-content: right;
    align-items: center;
    gap: 1em;
    box-shadow: -10px 5px 30px -5px;
}

.nav-link{
    text-decoration: none;
    color: #dfe6e9;
    font-size: 1.5vw;
    padding-right: 1em;
}

.nav-link:hover{
    color: rgb(41, 41, 41);
}

.main-wrapper{
    display: flex;
    width: 20vw;
    height: 25vw;
    align-items: center;
    margin-top: 7vw;
    margin-left: 40vw;
    flex-direction: column;
    gap: 2em;
    background-color:#dfe6e9;
    padding-top: 5em;
    box-shadow: 5px 7px 15px 0px;
}

.form-header {
    color: #2d3436;
}

.form-container {
    display: flex;
    margin-top: 1em;
    margin-left: 10em;
    width: 15vw;
    height: 20vw;
    flex-direction: column;
    gap: 1.5em;
}

.icons{
    display: flex;
    width: 20vw;
    height: 5vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.25em;
    background-color: #b2bec3;
}

.social{
    display: flex;
    flex-direction: column;
    width: 3em;
    height: 3em;

}

/*
nav {
    display: flex;
    background-color: antiquewhite;
    position: fixed;
    width: 100vw;
    height: 4em;
    box-shadow: 0 10px 40px -10px;
    justify-content: right;
    align-items: center;
}

.menu{
    list-style-type: none;
    display: flex;
    gap: 2em;
    padding-right: 2em;
}

.menu-options{
    display: flex;
    height: 2em;
}

.nav-link{
    text-decoration: none;
    font-size: 1.5vw;
    color: rgb(104, 104, 104);
}

.nav-link:hover{
    color: rgb(41, 41, 41);
}

.main-wrapper{
    display: flex;
    position: top 10px;
}*/